<div class="postitem" id=post.id>
  <div class="item">
    <h3><%= link_to post.title, post, :class=>'link' %></h3>
    <p><%= post.body %></p>
    <h4>dummy_author, Created at: <%= post.created_at.strftime("%H:%M") %></h4>
  </div>
</div>