<p style="color: green"><%= notice %></p>

<div class="row">
  <!--<img class="col" style="height: 30px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQs6y0aZ9fF6uOKBng7LB80rVRbDky9mgMbSTI9NExq9Fy8MWghmIls7svDWw2IUxP_7Mc&usqp=CAU"/>-->
  <h1 class="col">ASW Posts</h1>
  <button class="col"><%= link_to "+", new_post_path %></button>
</div>

<div class="main">
  <div id="posts" class="posts">
    <% @posts.order(created_at: :desc).each do |post| %>
      <%= render post %>
    <% end %>
  </div>
  <div class="magazine">
    <div style="border: 2px solid #dfcaca; width: 100%; height: 100%; margin-top: 20px"></div>
  </div>
</div>

<style>
.row {
    display: table;
    border-spacing: 10px;
    background-color: #dfcaca;
}
.col {
    display: table-cell;
    width: 100%;
}
.posts{
    grid-area: main;
    padding: 0 0.5rem;
    position: relative;
}
.main {
    display: grid;
    grid-template-areas: "main sidebar";
    grid-template-columns: 3fr 1fr;
}
.magazine {
    grid-area: sidebar;
    padding: 0 0.5rem;
}
</style>