@import "font-awesome";
@import "comments";
@import "post";
@import "magazines";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
    background: #e7e4f5;
}
.domain{
    font-size: .7em;
    color: #7a7a7a
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas */
    grid-gap: 20px; /* Espacio entre las imágenes */
    margin: 20px;
}

.grid-item img {
    width: 100%; /* Ajustar el tamaño de la imagen al contenedor */
    height: auto; /* Mantener la proporción de aspecto */
}
.posts{
    grid-area: main;
    padding: 0 0.5rem;
    position: relative;
}
.magazine {
    grid-area: sidebar;
    margin-right: 60px;
    background: #ffffff;

    width: 500px; height: 450px; margin-top: 20px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: #0f0142; /* Color azul */
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}
.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-menu li {
    margin-right: 20px;
}
.navbar-menu li:last-child {
    margin-right: 0;
}
.navbar-menu li a {
    color: white;
    text-decoration: none;
}
.navbar-buttons {
    display: flex;
    align-items: center;
}
.link{
    text-decoration:none;
}
.navbar-button {
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}