.commentitem {
  margin: 20px auto;
  padding: 1em;
  width: 95%;
  border-radius: 15px;
  background-color: #e7e4f5;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
}

.commentitem textarea {
  width: calc(100% - 20px);
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  margin-bottom: 10px;
}

.commentitem-button {
  margin-left: auto;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0f0142;
}

.comment-content {
  font-size: 16px;
  line-height: 1.4;
  color: #333;
  margin-top: 0;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.comment-likeButton, .comment-dislikeButton {
  background-color: #9692af;
  font-weight: bold;
  border: none;
  width: 60px;
  margin: 0 5px 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
}
.comment-likeButton span:last-child, .comment-dislikeButton span:last-child {
  margin-left: 5px;
}

.comment-dislikeButton:hover, .comment-likeButton:hover {
  color: #0f0142;
}

.buttonContainer-comments {
  display: flex;
  justify-content: flex-end;
}

.commentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reply-link, .more-link {
  text-decoration: none;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 10px;
  font-size: 11pt;
}

.reply-link:hover, .more-link:hover {
  color: black;
}

.link-container {
  display: flex;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 11pt;
  width: 100%;
  box-sizing: border-box;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.filteritem {
  margin: 20px auto;
  padding: 1em;
  width: 95%;
  border-radius: 15px;
  background-color: #e7e4f5;
  list-style-type: none;
  display: flex;
}
.filteritem li {
  margin-right: 20px;
}

.filteritem li a {
  text-decoration: none;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  font-size: 12pt;
}

.filteritem li a:hover {
  color: black;
}

